@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");

* {
  font-family: Roboto, sans-serif;
}

.unic-font {
  font-family: Releway, sans-serif;
}

/*style for index page*/
html,
body,
header,
#intro {
  height: 100%;
}
body.logged-in .fixed-top{
  top: 30px;
}
#intro {
  background: url("../img/index/bg2.jpg") no-repeat center center fixed;
  background-size: cover;
}
.social__position{
  /*margin: 0;
  padding: 0;*/
  width: 100%;
  justify-content: flex-end!important;
  align-items: center;
}
@media (max-width: 991px){
  .social__position{
    justify-content: flex-start!important;
  }
}
.top-nav-collapse {
  background-color: #717171;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #717171;
  }

  .padding {
    padding: 0px 25px 0px 25px;
  }
}

.info-block img {
  width: 20%;
}
.info-block p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.info-block ol {
  padding: 0 0 0 1.5em;
  margin: 0.3em 0 1em 0.5em;
}
.info-block ol li {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.mainBlock h4:hover {
  text-shadow: 3px 3px 3px #8f8f8f;
  transition: text-shadow 300ms linear 0ms;
  cursor: pointer;
}

/*hover text block*/
.hower {
  transform: scale(0.9);
  transition: box-shadow 0.5s linear, transform 0.5s linear;
}
.hower:hover {
  transform: scale(1) translateX(-35px);
  box-shadow: 10px 10px 10px #8f8f8f;
  cursor: zoom-in;
}
.padding {
  padding: 0.7em;
}
/*rotate img for main block*/
.rotate {
  transform: rotateZ(0deg);
  transition: transform 0.3s linear;
}
.rotate:hover {
  transform: rotateZ(20deg);
  cursor: pointer;
}

/*smoke effect for main title*/
.smoke {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.smoke ul {
  margin: 5px;
  padding: 5px;
  display: flex;
}

.smoke ul li {
  list-style: none;
  color: #000000;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 10px;
}

.smoke ul:hover li {
  -webkit-animation: animate 2s linear forwards;
  animation: animate 2s linear forwards;
}

@-webkit-keyframes animate {
  0% {
    transform: rotate(0deg) translateY(0px);
    opacity: 1;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100% {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg) translateY(0px);
    opacity: 1;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100% {
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
}

.smoke ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.smoke ul li:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.smoke ul li:nth-child(3) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.smoke ul li:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.smoke ul li:nth-child(5) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

/*****end index page********/

/********our-services******/
.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgb(25, 25, 25);
  -moz-box-shadow: -1px 9px 40px -12px rgb(25, 25, 25);
  -box-shadow: -1px 9px 40px -12px rgb(25, 25, 25);
}

.col-lg-4 {
  padding: 1%;
}

.card {
  height: 32em;
}

.card img {
  width: 100%;
  height: 285px;
}

/******end our-services*****/
/******galery**************/
.photo img {
  border: 4px solid #eee;
}

.photo a {
  display: block;
  position: relative;
}

.photo a:hover {
  opacity: 0.6;
}

.photo a:after {
  content: "";
  background: transparent url(../img/galery/eye-icon.png) no-repeat center;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

.photo:hover > a:after {
  visibility: visible;
}

/********end galery*******/
/* begin Scroll Down Button */
button.scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 30px;
  width: 60px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

/*animations for button scrol down*/
/*button.scroll_down:before {
    position: absolute;
    top: 8px;
    left: 50%;
    content: '';
    width: 7px;
    height: 7px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 2s infinite;
    box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scroll_down_btn-animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}*/
/* end Scroll Down Button */
/*call button*/
.callback-bt {
  background: #717171;
  border: 2px solid #717171;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(113, 113, 118, 0.3);
  cursor: pointer;
  height: 52px;
  text-align: center;
  width: 52px;
  position: fixed;
  left: 2%;
  bottom: 2%;
  z-index: 999;
  transition: 0.3s;
  -webkit-animation: hoverWave linear 1s infinite;
  animation: hoverWave linear 1s infinite;
}
.callback-bt:hover {
  z-index: 1;
  background: #fff;
  color: transparent;
  transition: 0.3s;
}
.callback-bt:hover i {
  color: #717171;
  font-size: 36px;
  transition: 0.3s;
}
.callback-bt i {
  color: #fff;
  font-size: 24px;
  transition: 0.3s;
  line-height: 52px;
  transition: 0.5s ease-in-out;
}

.callback-bt i {
  animation: 1200ms ease 0s normal none 1 running shake;
  animation-iteration-count: infinite;
  -webkit-animation: 1200ms ease 0s normal none 1 running shake;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 0 rgba(113, 113, 118, 0.2), 0 0 0 0 rgba(113, 113, 119, 0.2);
  }
  40% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 15px rgba(113, 113, 118, 0.2), 0 0 0 0 rgba(119, 23, 23, 0.2);
  }
  80% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 30px rgba(113, 113, 118, 0), 0 0 0 26.7px rgba(113, 113, 119, 0.07);
  }
  100% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 30px rgba(113, 113, 118, 0), 0 0 0 40px rgba(56, 163, 253, 0);
  }
}
@keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 0 rgba(113, 113, 118, 0.2), 0 0 0 0 rgba(113, 113, 119, 0.2);
  }
  40% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 15px rgba(113, 113, 118, 0.2), 0 0 0 0 rgba(113, 113, 119, 0.2);
  }
  80% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 30px rgba(113, 113, 118, 0), 0 0 0 26.7px rgba(113, 113, 119, 0.07);
  }
  100% {
    box-shadow: 0 8px 10px rgba(113, 113, 113, 0.3),
      0 0 0 30px rgba(113, 113, 118, 0), 0 0 0 40px rgba(113, 113, 119, 0);
  }
}

/* animations icon */

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}

@-webkit-keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
  }
  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg);
  }
  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg);
  }
  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
  }
  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg);
  }
  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg);
  }
  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg);
  }
  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
}
/* end call button */
